

.mat-column-numPartie {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}
.last-played-row{
  background-color: #5cb0db;
}
.mat-row:nth-child(even){
  background-color: #e4f0ec;
}
.mat-column-numClick{
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-valClickChrono {
  font-style: italic;
}

.flex-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.btn-donate{
  color: white ;
  max-height: 100px;
  max-width: 100px;
 
}
