 <div class="flex-container">
  <div>
    <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8">
     
      <ng-container matColumnDef="numPartie">
        <th mat-header-cell *matHeaderCellDef> numPartie </th>
        <td mat-cell *matCellDef="let element"> {{element.numPartie}} </td>
      </ng-container>
      
      <ng-container matColumnDef="numClick">
        <th mat-header-cell *matHeaderCellDef> numClick </th>
        <td mat-cell *matCellDef="let element"> {{element.numClick}} </td>
      </ng-container>
      
      <ng-container matColumnDef="valClickChrono">
        <th mat-header-cell *matHeaderCellDef> Chrono </th>
        <td mat-cell *matCellDef="let element"> {{element.valClickChrono}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div>
      <mat-paginator
      [length]="this.clicks.length"
      [pageSize]="2"
      [pageSizeOptions]="[2, 6, 9]"
      (page)="OnPageChange($event)"
      ></mat-paginator>
    </div>
  </div>
  <div class="btn-donate">
    Le Chrono Moyen : {{this.clickMoyen}} 
  </div>
 





<div>
<table mat-table [dataSource]="dataSourceParties"  matSort (matSortChange)="announceSortChange($event)"  class="mat-elevation-z8 table"  >
   
  <ng-container matColumnDef="numPartie">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> .No </th>
    <td mat-cell *matCellDef="let element"> {{element.numPartie}} </td>
  </ng-container>
  
  <ng-container matColumnDef="pseudo">
    <th mat-header-cell *matHeaderCellDef> pseudo </th>
    <td mat-cell *matCellDef="let element"> {{element.pseudo}} </td>
  </ng-container>
  
  <ng-container matColumnDef="valMeilleurChrono" >
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> meilleur chrono </th>
    <td mat-cell *matCellDef="let element"> {{element.valMeilleurChrono}} </td>
  </ng-container>
  <ng-container matColumnDef="valMoyenneChrono">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> chrono moyen </th>
    <td mat-cell *matCellDef="let element" > {{element.valMoyenneChrono}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumnsParties"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsParties;" [ngClass]="{'last-played-row':  row.numPartie == lastPlayedIndex }"></tr>

</table>
<div>
<mat-paginator
  [length]="this.PartieJoueur.length"
  [pageSize]="4"
  [pageSizeOptions]="[2, 6, 9]"
  (page)="OnPageChangePartie($event)"
  ></mat-paginator>
</div>
</div>
 </div>
<!-- <div>
  <mat-paginator
  [length]="this.PartieJoueur.length"
  [pageSize]="4"
  [pageSizeOptions]="[2, 6, 9]"
  (page)="OnPageChangePartie($event)"
  ></mat-paginator>
</div> -->