<table>
    <caption>Informations sur le click</caption>
    <thead>
      <tr>
        <th></th>
        <th>Temps des clicks</th>
    
      <tr>
    </thead>
    <tbody>
      <tr *ngFor="let card of pageSlice">
        <th>Click numéro {{ card.numClick }}</th>
        <td>{{ card.valClickChrono }} ms </td>
      </tr>
    </tbody>
  </table>

<!-- <div>Temps moyen d'un clic: {{}}</div> -->
<div> 
      <mat-paginator
      [length]="this.clicks.length"
      [pageSize]="2"
      [PageSizeOptions]="[2,6,9]"
    (page)="OnPageChange($event)"
    ></mat-paginator>
</div>
