<app-load></app-load>
<body>
  <div class="container">
<div>
    <table mat-table [dataSource]="dataSourceAllParties"  matSort (matSortChange)="announceSortChange($event)"  class="mat-elevation-z8 table"  >
      
      <ng-container matColumnDef="numPartie">
        <th mat-header-cell *matHeaderCellDef> numéro de partie </th>
        <td mat-cell *matCellDef="let element"> {{element.numPartie}} </td>
      </ng-container>
      
      
      <ng-container matColumnDef="valMoyenneChrono">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> chrono moyen </th>
        <td mat-cell *matCellDef="let element" > {{element.valMoyenneChrono}} ms </td>
      </ng-container>
      <ng-container matColumnDef="link">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> liens </th>
        <td mat-cell *matCellDef="let element" > <a [routerLink]="['/affichage-detail-click']" [state]="{ id:element.numPartie}">Infos sur les clicks</a> </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsAllParties"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsAllParties;" [ngClass]="{'last-played-row':  row.numPartie == lastPlayedIndex }"></tr>
      
    </table>
    <div>
      <mat-paginator
      [length]="this.parties.length"
      [pageSize]="this.nbPage"
      [pageSizeOptions]="[this.nbPage, this.nbPage*2, this.nbPage*3]"
      (page)="OnPageChange($event)"
      ></mat-paginator>
    </div>
</div>
</div>
  </body>