 <!-- <div *ngIf="partieTerminer"> -->
    <div>Vous avez les droit à {{this.nbClickMax}} coups</div>
 <div>
    <img id="img" (click)="start()">
</div> 
<!-- <button *ngIf="this.partieTerminer" ><a [routerLink]="[ '/app-jeu']">Terminer</a></button> -->
<!-- <button (click)="reloadCurrent()">Reload Current Route</button> -->

<!-- <span>{{hr}}:</span>
<span>{{min}}:</span>
<span>{{sec}}:</span>
<span>{{ms}}</span> -->
 <!-- <div>
    <button *ngIf="!running" (click)="start()">Start</button>
    <button *ngIf="running"  (click)="stop()">Pause</button>
</div>  -->

<!-- <div>
<div>Tableau : </div>
<div *ngFor="let item of tab">

    <p>{{item}}</p>
</div>
</div> -->
 <!-- </div>
  -->