/* You can add global styles to this file, and also import other style files */
$bg-color: #424242;
$hl-color: #2196F3;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 320px;
body{
    background-image:  linear-gradient(325deg, hsla(194 100% 69% / 1) 0%, hsla(217 100% 56% / 1) 55%,  hsla(194 100% 69% / 1) 90%);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.div button{
    height: 50;
    width: 100px;
}

.btn-donate {
    --clr-font-main: hsla(0 0% 20% / 100);
    --btn-bg-1: hsla(194 100% 69% / 1);
    --btn-bg-2: hsla(217 100% 56% / 1);
    --btn-bg-color: hsla(360 100% 100% / 1);
    --radii: 0.5em;
    cursor: pointer;
    padding: 0.9em 1.4em;
    min-width: 200px;
    min-height: 60px;
    font-size: var(--size, 1rem);
    font-family: "Segoe UI", system-ui, sans-serif;
    font-weight: 500;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
    border: none;
    border-radius: var(--radii);
    color: var(--btn-bg-color);
    box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px rgba(175, 230, 255, 0.5), inset -4px -4px 8px rgba(19, 95, 216, 0.35);
  }
  
  .btn-donate:hover {
    background-position: right top;
  }
  
  .btn-donate:is(:focus, :focus-visible, :active) {
    outline: none;
    box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
  }
  
  @media (prefers-reduced-motion: reduce) {
    .btn-donate {
      transition: linear;
    }
  }
  form{

  }

//   .btn-primary {
//     border-radius: 10px;
//     min-height: 30px;
//     min-width: 100px;
//     border: none;
//     background-color: #a8dcf4;
//   }
//   .btn-primary:hover {
//     background-color: #27a1e3;
//   }
  
  $bg-color: #424242;
  $hl-color: #2196F3;
  $muted-color: mix(white, $bg-color, 70%);
  $trans-time: 300ms;
  $width: 320px;
  
  *,
  :before,
  :after {
    box-sizing: border-box;
  }
  
 
  
  // FORM // ============================== //
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    width: $width;
    margin: 45px auto;
    
    h1 {
      font-size: 3em;
      font-weight: 300;
      text-align: center;
      color: $hl-color;
    }
    h5 {
      text-align: center;
      text-transform: uppercase;
      color: $muted-color;
    }
    hr.sep {
      background: $hl-color;
      box-shadow: none;
      border: none;
      height: 2px;
      width: 25%;
      margin: 0px auto 45px auto;
    }
    .emoji {
      font-size: 1.2em;
    }
  }
  
  .group {
    position: relative;
    margin: 45px 0;
  }
  
  // INPUTS // ============================== //
  textarea {
    resize: none;
  }
  
  input{
    background: none;
    color: $muted-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: $width;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $muted-color;
    &:focus {
      outline: none;
    }
    &:focus ~ label,
    &:valid ~ label {
      top: -14px;
      font-size: 12px;
      color: $hl-color;
    }
    &:focus ~ .bar:before {
      width: $width;
    }
  }
  
  input[type="text"] {
    letter-spacing: 0.3em;
  }
  
 
  
  .bar {
    position: relative;
    display: block;
    width: $width;
    &:before {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0px;
      position: absolute;
      background: $hl-color;
      transition: $trans-time ease all;
      left: 0%;
    }
  }
  
  // BUTTONS // ============================== //
  .btn {
    background: #fff;
    color: mix(black, $muted-color, 25%);
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    &:hover {
      color: mix(black, $muted-color, 30%);
      box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
    }
    &.btn-link {
      background: $hl-color;
      color: mix(white, $hl-color, 80%);
      &:hover {
        background: darken($hl-color, 5%);
        color: mix(white, $hl-color, 85%);
      }
    }
    &.btn-submit {
      background: $hl-color;
      color: mix(white, $hl-color, 70%);
      &:hover {
        background: darken($hl-color, 5%);
        color: mix(white, $hl-color, 85%);
      }
    }
    &.btn-cancel {
      background: #eee;
      &:hover {
        background: darken(#eee, 5%);
        color: mix(black, $muted-color, 30%);
      }
    }
  }
  
  .btn-box {
    text-align: center;
    margin: 50px 0;
  }