$height : 400px;
.flex-form{
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    align-items: center;
    max-height: $height;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 20px 50px rgba(18, 18, 18, 0.7);
    
}
